* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/*MEDIA QUERY USED WHEN THE WINDOW'S SIZE IS LESS THAN 600px */
.oops-image{
  display: none;
}

@media only screen and (max-width: 599px){ 
  .oops-image{
    display: block;
    margin-left: 5%
  }

  .piano{
    display: none;
  }
}


.piano{
  margin-left: 2em;
}

/* CONTROLS */

.piano-controls {
  margin-bottom: 1.5em;
}

.control-bar {
  display: inline-block;
}

.record-label {
  margin-left: 12%
}

.small-buttons{
    height:15px;
    width:15px;
}

.choix-tune {
  width: 26%
}

.choix-tune select {
  width: 100%
}



/* PIANO */


.piano-keyboard {
  height:6.5em;
  width:100%;
  padding: 0;
  position:relative;
}

.white, .black {
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  position:relative;
}

.white {
  height:6.5em;
  width:9.3%;
  z-index:1;
  border:2px outset #e6e5e6;
  background-color: white;
  padding: 1%;
  font-size: 0.9em;
}

.white span {
  display: inline-block;
  width: 25px;
  text-align: center;
}

.white:active {
  background-color: #969696;
  border: 2px inset #e6e5e6;
}

.black {
  height:6em;
  width: 5.3%;
  margin:0 -2.65% 0 0;
  z-index:2;
  border:2px outset #e6e5e6;
  background-color: #050505;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 0
}

.black span {
  display: inline-block;
  width: 25px;
  text-align: center;
}

.black:active {
  background-color: #969696;
  border: 2px inset #e6e5e6;
}

.a,.g,.f,.d,.c {
  margin:0 -2.65% 0 0
}