* {
  box-sizing:border-box
}

.oops-image{
  display: none;
}

@media only screen and (max-width: 599px){ 
  .oops-image{
    display: block;
  }

  .buttonsPiano{
    display: none;
  }
}

  .floatContainer {
    width:600px;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}
#tune {
    float:center;
    background-color:white;
}
#playTunes {
    float:left;
    background-color:white; 
    margin-left:20px;
}
#record {
    float:right;
    background-color:white;
}





.piano {
  height:13em;
  width:40em;
  margin: 2em 6em 2em 6em;
  padding: 0;
  position:relative;
}

.white, .black {
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  position:relative;
}

.white {
  height:13em;
  width:3.5em;
  z-index:1;
  border:2px outset #e6e5e6;
  background-color: white;
  padding: 1em;
  font-size: 0.9em;
}

.white:active {
  background-color: #969696;
  border: 2px inset #e6e5e6;
}

.black {
  height:9em;
  width:2.2em;
  margin:0 -1.1em 0 0;
  z-index:2;
  border:2px outset #e6e5e6;
  background-color: #050505;
  color: white;
  font-size: 0.8em;
}

.black:active {
  background-color: #969696;
  border: 2px inset #e6e5e6;
}

.a,.g,.f,.d,.c {
  margin:0 -1.1em 0 0
}